h2, h3, h4, h5 {
  color: cyan;
  font-family: sans-serif;
}

thead{
  font-weight: bold;
  color: darkorange;
  border:2px solid darkblue;
}

table th{
  font-weight: bold;
  color: darkorange;
  border:2px solid darkblue;
}

table {
  border: 5px double darkblue;
}

table td {
  color: darkblue;
  border: 2px solid darkorange;
}

ul, ol {
  list-style-type: square;
}

a:hover{
  background-color: red;
  text-decoration: none;
}

blockquote {
  color: orange;
  background: darkblue;
}
